html {
    scroll-behavior: smooth !important;
    /* font-family: 'Great Vibes', cursive;
    font-family: 'Open Sans', sans-serif; */
  }

  body {
    background-color: rgb(65, 64, 64);
  }
  
  .site-nav {
    z-index: 20;
  }
  
  /* following class applied when below env jpg */
  .site-nav.in-body {
    background: rgb(36, 36, 36, 0.9);
    animation: slideUp 1.25s forwards;
    opacity: 0;
  }
  
  .site-header {
    position: relative;
    height: 100vh;
    background: linear-gradient(180deg, rgb(36, 36, 36), rgb(0, 0, 0));
    overflow: hidden;
  }
  
  .site-header::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    background-image: url(../images/hero.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    opacity: 0;
    transform: translateY(300px) scale(1.2);
    animation: slideUp 0.5s forwards;
  }
  
  .site-nav .nav-link {
    position: relative;
    padding-bottom: 2px;
  }
  
  .site-nav .nav-link::before {
    content: '';
    position: absolute;
    width: 100%;
    max-width: 100px;
    height: 38px;
    bottom: 0;
    left: 0;
    background-color: rgba(266, 207, 31, 0);
    transform: scaleX(0);
    transition: all 0.5s cubic-bezier(0.03, 0.78, 0.4, 1.39);
    opacity: 0;
  }
  
  .site-nav .nav-link:hover::before {
    background-color: rgba(266, 207, 31, 0.2);
    transform: scaleX(1);
    opacity: 1;
  }
  
  .site-header .header-title {
    animation: slideUp 0.8s 0.4s forwards;
    transform: translateY(10rem);
    opacity: 0;
  }
  
  .site-header .header-subtitle {
    animation: slideUp 1s 0.7s forwards;
    transform: translateY(10rem);
    opacity: 0;
  }
  
  .site-header .header-cue {
    position: absolute;
    bottom: 0;
    animation: slideUp 0.5s 1.5s forwards;
    transform: translateY(2rem);
    z-index: 10;
    overflow: hidden;
  }
  
  .site-header .header-cue-icon {
    animation: slideDown 0.5s 1.8s forwards, pulse 2s 4s ease-in-out infinite;
    transform: translateY(-2rem);
    opacity: 1;
  }
  
  .appear {
    animation: slideUp 1s 0.5s forwards;
    opacity: 0;
    transform: scale(0.9);
  }

  .invisible {
    visibility: false;
    z-index: 0;
  }
  
  .top-left {
    position: relative;
    padding-top: 5%;
    left: 12%;
    font-size: x-large;
  }

  .middle-right {
    position: relative;
    top: 18%;
    right:10%;
    font-size: x-large;
  }

  .center-between {
    position: relative;
    top: 42%;
    left: 11%;
    /* transform: translate(-50%, -50%); */
    font-size: xx-large;
  }

  .synopsis-content-antq {
    color: antiquewhite;
  }

  .synopsis-content {
    color: white;
  }

  .typing {
    position: relative;
  }

  .typing::after {
    content: "";
    position: absolute;
    right: -3px;
    width: 2px;
    height: 96%;
    border-right: 2px solid antiquewhite;
    animation: blink 0.8s infinite ease;
  }

  .intro-parallax {
    position: relative;
    overflow: hidden;
  }

  .intro {
    position: absolute;
    background-image: url('../images/environment_1.jpg');
    height: 110%; 
    width: 100%;
    background-size: cover;
    z-index: 1;
  }

  .content-wrapper {
    width: 100%;
    z-index: 2;
    justify-content: space-around;
  }

  #intro {
    position: relative;
    height: 100vh; 
    color:white;
    font-family: 'Dancing Script', cursive;    
    font-weight: bolder;
  }

  #play {
    background: linear-gradient(180deg, rgb(65, 64, 64), rgb(34, 32, 32));
  }

  #why {
    background: linear-gradient(180deg, rgb(98, 98, 98),  rgb(8, 8, 8));
  }

  /* #friend {
    z-index: 15;
    overflow: hidden;
    // parachute section duplicate
  } */
  
  @keyframes slideUp {
    to {
      opacity: 1;
      transform: none;
    }
  }
  
  @keyframes slideDown {
    from {
      transform: translateY(-2rem);
      opacity: 0;
    }
  
    to {
      transform: none;
      opacity: 1;
    }
  }
  
  @keyframes pulse {
    0% {
      opacity: 1;
      transform: none;
      transform: scale(1);
    }
  
    50% {
      opacity: 0.5;
      transform: scale(0.8);
    }
  
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes blink {
    0%{
      opacity: 0
    }
    100%{
      opacity: 1;
    }
  }
  